* {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgb(125, 150, 163), rgb(48, 62, 143));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.searchbar{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid yellow; */
}
.searchbar>input{
    border-radius: 5px;
    height: 30px;
    font-size: large;
}
.label-city {
    font-size: 26px;
    font-weight: bold;
}
.input-city {
    height: 50px;
    padding: 5px;
}
.input-city:focus {
    outline: none;
    border:none;
    box-shadow: 0 0 10px;
}
.sendBtn {
    border: none;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    padding: 5px;
    box-shadow: none;
}
.sendBtn:focus {
    outline: none;
    box-shadow: 0 0 10px;
}

.date--container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
#weekday {
    margin: 0 auto;
}

.api-data--container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
}

.temperature {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}
.section-sunTime {
    display: flex;
    flex-direction: row;
}
img{
    width: 100px;
}